# Data Types

### 1.	Construct 2 lists containing all the available data types  (integer, float, string, complex and Boolean) and do the following..

In [5]:
listOne = [10, 20.2, "artificial intelligence", 12j, True]

In [6]:
listTwo = [13, 23.2, "Macine learing", 13j, False]

In [ ]:
# a.	Create another list by concatenating above 2 lists

In [7]:
newList = listOne + listTwo

In [8]:
newList

[10,
 20.2,
 'artificial intelligence',
 12j,
 True,
 13,
 23.2,
 'Macine learing',
 13j,
 False]

In [9]:
# b.	Find the frequency of each element in the concatenated list.

In [14]:
for i in newList:
    print(f'{i} = {newList.count(i)}')

10 = 1
20.2 = 1
artificial intelligence = 1
12j = 1
True = 1
13 = 1
23.2 = 1
Macine learing = 1
13j = 1
False = 1

In [15]:
# c.	Print the list in reverse order

In [16]:
listOne

[10, 20.2, 'artificial intelligence', 12j, True]

In [21]:
listOne.reverse()

In [22]:
listOne

[True, 12j, 'artificial intelligence', 20.2, 10]

### 2.	Create 2 Sets containing integers (numbers from 1 to 10 in one set and 5 to 15 in other set)

In [53]:
setOne = set(range(1, 10+1))
setTwo = set(range(5, 15+1))
setOne, setTwo

({1, 2, 3, 4, 5, 6, 7, 8, 9, 10}, {5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15})

In [23]:
# a.	Find the common elements in above 2 Sets

In [44]:
{element for element in setOne if element in listTwo}

{5, 6, 7, 8, 9, 10}

In [34]:
# b.	Find the elements that are not common.

In [45]:
setOne.union(setTwo)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [54]:
# c.	Remove element 7 from both the Sets 
setOne.remove(7)
setTwo.remove(7)

In [55]:
setOne, setTwo

({1, 2, 3, 4, 5, 6, 8, 9, 10}, {5, 6, 8, 9, 10, 11, 12, 13, 14, 15})

### 3.	Create a data dictionary of 5 states having state name as key and number of covid-19 cases as values.

In [57]:
covid = {
    'tamilNadu':100, 
    "banglore":200, 
    "Goa":300,
    "kanada":400,
    "Mumbai":600
}

In [58]:
covid

{'tamilNadu': 100, 'banglore': 200, 'Goa': 300, 'kanada': 400, 'Mumbai': 600}

In [61]:
# a.	Print only state names from the dictionary.

for state in covid.keys(): 
    print(state)

tamilNadu
banglore
Goa
kanada
Mumbai

In [62]:
# b.	Update another country and its covid-19 cases in the dictionary 

covid['uttar pradesh'] = 500

In [63]:
covid

{'tamilNadu': 100,
 'banglore': 200,
 'Goa': 300,
 'kanada': 400,
 'Mumbai': 600,
 'uttar pradesh': 500}

# Operators

In [64]:
# 1.	A. Write an equation which relates   399, 543 and 12345  
399 * 543

216657

In [66]:
# “When I divide 5 with 3, I get 1. But when I divide -5 with 3, I get -2”—How would you justify it? 

5 // 3

1

In [68]:
-5 // 3

-2

In [69]:
# 2. a=5,b=3,c=10.. What will be the output of the following:

In [71]:
a=5
b=3
c=10

In [72]:
a /= b

In [73]:
a

1.6666666666666667

In [74]:
c *= 5

In [75]:
c

50

In [87]:
# 3. a How to check the presence of an alphabet ‘S’ in the word “Data Science” .

In [89]:
strValue = "Data Science"
'S' in strValue

True

In [90]:
# b How can you obtain 64 by using numbers 4 and 3

In [95]:
4 ** 3

64

# Variables

In [96]:
Age1 = 3

In [97]:
1Age = 4

SyntaxError: invalid syntax (2781269983.py, line 1)

In [98]:
Age_1 = 100

In [99]:
Age@1 = 100

SyntaxError: cannot assign to operator (2911511369.py, line 1)

In [100]:
# 3.	How can you delete variables in Python ?
del Age_1

In [101]:
(1,1) + (8, 10)

(1, 1, 8, 10)